:root {
  --navbar-bg-color: black;
  --facebook-color: #1778F2;
  --instagram-color: #CE3E73;
  --twitter-color: #3AA1F2;
  --linkedin-color: #1166C2;
  --btn-bg-color: #FFDD00;
  --btn-bg-color2: #DABD00;
  --section-bg-color: #FAFAFA;
  --border-color: #dddddd;
  --overlay-bg-color: rgba(16, 24, 31, 0.7);
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');

html {
  scroll-behavior: smooth;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  font-family: 'Roboto',
    sans-serif;
  font-size: 18px;
  font-weight: 400 !important;
  box-sizing: border-box;
}

main {
  flex: 1 0 auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400 !important;
}

/* HEADER */

.header {
  -webkit-box-shadow: 0px 6px 15px -1px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 6px 15px -1px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 6px 15px -1px rgba(0, 0, 0, 0.75);
}

.mg__bg-black {
  background: var(--navbar-bg-color);
}

.nav__link-facebook:hover {
  color: var(--facebook-color) !important;
}

.nav__link-instagram:hover {
  color: var(--instagram-color) !important;
}

.nav__link-twitter:hover {
  color: var(--twitter-color) !important;
}

.nav__link-linkedin:hover {
  color: var(--linkedin-color) !important;
}

.hero {
  background-image: url("../assets/img/ingmar-MIT0d2Y1Sd0-unsplash.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.hero,
.hero__row {
  min-height: 90vh;
  height: 500px;
}

.hero__row {
  background: var(--overlay-bg-color);
}

.hero__btn {
  border-radius: 0;
  border: var(--btn-bg-color);
  background: var(--btn-bg-color);
  border-bottom: 1px solid #9B8700;
}

.hero__btn:hover {
  border: var(--btn-bg-color2);
  background: var(--btn-bg-color2);
  border-bottom: 1px solid #9B8700;
}

.portafolio {
  background: var(--section-bg-color);
  border-top: 1px solid var(--border-color);
  border-bottom: 1px solid var(--border-color);
}

.asterisco {
  color: #a50404;
  font-weight: 400;
}

.footer {
  background: var(--section-bg-color);
  border-top: 1px solid var(--border-color);
}

.footer__text-muted {
  color: #42484e;
}